* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --font-family-leckerlione: 'Leckerli One', sans-serif;
    --font-family-baloo: 'Baloo 2', sans-serif;
    --font-family-opensans: 'Open Sans', sans-serif;
    --logo: 400 2.5rem var(--font-family-leckerlione);
    --heading-md: 700 1.75rem var(--font-family-baloo);
    --heading-sm: 700 1.125rem var(--font-family-baloo);
    --body-md: 400 1rem var(--font-family-opensans);
    --body-sm: 400 0.875rem var(--font-family-opensans);
    --body-xs: 400 0.75rem var(--font-family-opensans);
}