.checkbox-wrapper {
  position: relative;
  width: 11rem;
  height: 4.9375rem;
}

button {
  position: absolute;
  background: var(--input-stroke);
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  transition: all 300ms ease-in-out;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & .text-toggle::before {
    content: "Escuro";
  }

  &:has(:checked) {
    & .text-toggle::before {
      display: none;
    }

    & .text-toggle::after {
      content: "Claro";
    }
  }
}

.toggle-inner {
  position: relative;
  background-color: var(--input-base);
  width: 4rem;
  height: 2rem;
  border: 1px solid var(--input-stroke);
  border-radius: 999px;
  transition: all 300ms ease-in-out;

  & input,
  & input:focus,
  & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
  }

  &:has(:checked) {
    background-color: var(--brand-light);
    transition: all 300ms ease-in-out;

    & button {
      background: var(--text-heading);
      left: 2.150rem;
      transition: all 300ms ease-in-out;
    }
  }
}