.radio-wrapper {
    display: flex;
    gap: 0.25rem;
    background-color: var(--input-base);
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    padding: 0.25rem;
    font: var(--body-sm);
    color: var(--text-body);
}

.radio-inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--input-stroke);
    width: 8.125rem;
    height: 2.5rem;

    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover,
    &:has(:checked) {
        background-color: var(--shape-body);
    }
}