.radio-wrapper {
    display: flex;
    gap: 0.25rem;
    background-color: var(--input-base);
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    padding: 0.25rem;
    font: var(--body-sm);
    color: var(--text-body);
}

.radio-inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    border-radius: 0.25rem;
    width: 8.125rem;
    height: 2.5rem;

    & .type-image {
        width: 1rem;
        height: 1rem;

        & path {
            fill: var(--input-placeholder);
        }
}

    &:hover,
    &:has(:checked) {
        background-color: var(--shape-button);
        font: 600 0.875rem var(--font-family-opensans);
        color: var(--text-heading);
        & path {
            fill: var(--brand-light);
        }
    }

    & .event-image {
        display: flex;
    }
}

.radio-color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));

    & .outside-radio {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--shape-button);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 999px;
        position: relative;

        &:hover {
            background-color: var(--shape-hover);
        }
        &:has(:checked) {
            border: 2px solid var(--brand-light);
        }
    }

    & .radio-color-size {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 999px;
    }
    
    & .radio-brand-light {
    background-color: var(--brand-light);
    }

    & .radio-navy {
    background-color: var(--navy);
    }

    & .radio-purple {
    background-color: var(--purple);
    }

    & .radio-fuschia {
    background-color: var(--fuschia);
    }

    & .radio-pink {
    background-color: var(--pink);
    }

    & .radio-danger {
    background-color: var(--danger);
    }

    & .radio-orange {
    background-color: var(--orange);
    }

    & .radio-yellow {
    background-color: var(--yellow);
    }

    & .radio-lime {
    background-color: var(--lime);
    }

    & .radio-green {
    background-color: var(--green);
    }

    & .radio-cyan {
    background-color: var(--cyan);
    }   
}

.radio-inner,
.outside-radio,
.radio-theme {
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }
}

.event-theme {
    display: grid;
    grid-template-columns: repeat(4, minmax(3.5rem, 1fr));
    gap: 0.5rem;
}

.radio-theme {
    display: block;
    position: relative;
    background-color: var(--shape-button);
    padding: 0.25rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);

    & img {
        width: 100%;
    }

    &:hover {
        background-color: var(--shape-hover);
    }
    &:has(:checked) {
        border: 2px solid var(--brand-light);
    }
}

.cards {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}