@import url(fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

legend {
    font: var(--heading-sm);
    color: var(--text-heading);
    margin-bottom: 1.5rem;
    display: flex;
    gap: 0.75rem;
}