#app {
  display: grid;
  grid-template-columns: 32.79% 67.21%;
  padding: 1.25rem;

  height: 100vh;
  overflow: hidden;
}

nav {
    border-radius: 0.75rem;
    margin-right: 1.25rem;

    background-image: url(../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;

    & .nav-container {
        max-width: 25rem;
        padding: 2rem 2rem 34.5rem;

        & > img {
            width: 3.05rem;
            height: 3rem;
            margin-bottom: 1rem;
        }
    }

    & h1 {
        font: var(--logo);
        color: var(--pink);
        margin-bottom: 0.25rem;
    }

    & span {
        font: 300 1rem var(--font-family-opensans);
        color: var(--text-heading);
    }
}

main {
    background-color: var(--shape-body);
    border-radius: 0.75rem;
    padding: 5rem 8.125rem;

    & h1 {
        font: var(--heading-md);
    }

    & .main-container {
        max-width: 51.25rem;
    }
}